{% extends "header_footer.html" %}
{%load static%}
{% block title %} About us {% endblock %}
{% block content %}
<!-------------  About us ------------>
      <div class="container">
      	<style type="text/css">
      		.container word{
      			color: white;
      			font-size: 20px;
      			width: 100%;
      			height: 100%;
      			text-align: center;
      			margin-top: -2%;
      			width: 50%;
      			padding: 1%;
      		}
      		h1{
      			font-size: 14px;
      		}
      	</style>
    <div class="container word" style="color: white;
      			font-size: 20px;
      			width: 100%;
      			height: 100%;
      			text-align: center;
      			margin-top: -2%;
      			padding: 1%;">
      		<h2>О нас</h2>
      	<h1><br><br>Номер:+7-747-943-20-28 <br><br> Адрес:Казахстан гр.Алматы ул.Манаса <br><br>
      	Онлайн-кинотеатр AKFilm: фильмы в хорошем качестве всегда приносят настоящее удовольствие
      	Каждый день миллионы людей ищут фильмы онлайн, и никто не хочет усложнять себе жизнь – и вы наверняка один из них! А раз так, то akf – это именно тот ресурс, который вам нужен. От лучших кинолент в HD-качестве вас отделяет буквально один клик. Мы не просто освобождаем от необходимости идти в кинотеатр или изучать программу телепередач – у посетителей нашего ресурса гораздо больше возможностей.</br><br>
      	Видеотека akfilm – это постоянно пополняющаяся коллекция в рунете, которая насчитывает более 60 тысяч отечественного и зарубежного контента, доступного для просмотра онлайн. Мы первыми в России подписали контракты с крупнейшими голливудскими студиями (Walt Disney, Warner Bros., Sony, 20th Century Fox, Universal, Paramount, MGM и другими) и на постоянной основе сотрудничаем с крупнейшими российскими компаниями и телеканалами.</h1>
      </div>
        <div>
        	<iframe class="container" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2906.7764533415298!2d76.9075561154458!3d43.235146379137895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3883692f027581ad%3A0x2426740f56437e63!2z0JzQtdC20LTRg9C90LDRgNC-0LTQvdGL0Lkg0YPQvdC40LLQtdGA0YHQuNGC0LXRgiDQuNC90YTQvtGA0LzQsNGG0LjQvtC90L3Ri9GFINGC0LXRhdC90L7Qu9C-0LPQuNC5!5e0!3m2!1sru!2skz!4v1588618807021!5m2!1sru!2skz" width="50%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <br><br>
{% endblock %}